# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environnement virtuel
venv/
.env

# Données brutes (trop lourdes pour GitHub)
data/*
!data/.gitkeep

# Modèles sauvegardés
*.pkl
*.joblib

#modèles sauvegardés
models/